*.log
*.sq3

globalapi-key.cfg
data/csgo/addons/sourcemod/plugins/disabled
data/csgo/addons/sourcemod/data/gokz-replays
data/fastdl/maps/*

!gokz-replays.nav
!kzlj-sqlite.sq3
!kzMaps-sqlite.sq3

!gokz-replays.nav
!kz_rectangle.*
!bkz_bonus_z1.*
!kz_refract.*
!kz_dakow.*
